<div class="row">
    <div class="col-sm-12">
        <div class="card border-0">
            <div class="card-body cardContainer">
                <div class="formContainer">
                    <div>
                        <div class="backLink col col-12 d-inline-block">
                            <a class="col-sm-6" routerLink="/vacunacion">Regresar</a>
                        </div>
                    </div>
                    <form #assignmentForm="ngForm" class="form-container" (ngSubmit)="onSubmit()" style="text-align: left;">
                        <ng-container>
                            <div class="form-group">
                                <div class="col col-sm-12 col-md-4 d-inline-block align-top">
                                    <form #searchForm="ngForm" class="form-container" (ngSubmit)="searchThird()" style="text-align: left;">
                                        <label for="numeroDocumento" class="labelForm">Núm. Identificación<span class="required">*</span></label>
                                        <div class="input-group">
                                            <input type="text" name="numeroDocumento" class="form-control inputForm" [ngClass]="{'is-invalid': numeroDocumento.invalid}" #numeroDocumento="ngModel" [(ngModel)]="assignment.numeroDocumento" required maxlength="20">
                                            <button style="border-bottom-left-radius: 0; border-top-left-radius: 0;" class="btn btn-outline-secondary inputForm" type="button" id="button-addon2" [disabled]="searchForm.invalid"><fa-icon [icon]="faSearch" class="d-block" (click)="searchThird()"></fa-icon></button>
                                        </div>
                                        <small class="d-block invalid-feedback" *ngIf="searchResponseMessage">{{searchResponseMessage}}</small>
                                        <fa-icon [icon]="faSpinner" class="d-block spin" *ngIf="searchPreloaderStatus"></fa-icon>
                                    </form>
                                </div>
                                <div class="col col-sm-6 col-md-4 d-inline-block align-top">
                                    <label for="tipoDocumento" class="labelForm">Tipo Identificación<span class="required">*</span></label>
                                    <select style="background-position-x: 95%; text-transform: uppercase;" name="tipoDocumento" id="tipoDocumento" class="form-control inputForm" [ngClass]="{'is-invalid': tipoDocumento.invalid }" #tipoDocumento="ngModel" [(ngModel)]="assignment.tipoDocumento"
                                        required [disabled]="disableFlag">
										<option *ngFor="let tipo of global.TipoIDPaciente" value="{{ tipo.name }}">{{ tipo.name }}</option>
									</select>
                                </div>
                                <div class="col col-sm-6 col-md-4 d-inline-block align-top">
                                    <label for="tipoUsuario" class="labelForm">Tipo de Usuario<span class="required">*</span></label>
                                    <select style="background-position-x: 95%; text-transform: uppercase;" name="tipoUsuario" id="tipoUsuario" class="form-control inputForm" [ngClass]="{'is-invalid': tipoUsuario.invalid }" #tipoUsuario="ngModel" [(ngModel)]="assignment.tipoUsuario" required
                                        [disabled]="disableFlag">
										<option *ngFor="let tipo of global.tipoUsuarioVacunado" value="{{ tipo.id }}">{{ tipo.name }}</option>
									</select>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container>
                            <div class="form-group">
                                <div class="col col-sm-6 col-md-3 d-inline-block align-top">
                                    <label for="primerNombre" class="labelForm">Primer Nombre<span class="required">*</span></label>
                                    <input type="text" name="primerNombre" class="form-control inputForm" [ngClass]="{'is-invalid': primerNombre.invalid}" #primerNombre="ngModel" [(ngModel)]="assignment.primerNombre" required maxlength="50" (ngModelChange)="assignment.primerNombre=globalService.upperCase($event)"
                                        [disabled]="disableFlag">
                                </div>
                                <div class="col col-sm-6 col-md-3 d-inline-block align-top">
                                    <label for="segundoNombre" class="labelForm">Segundo Nombre</label>
                                    <input type="text" name="segundoNombre" class="form-control inputForm" [ngClass]="{'is-invalid': segundoNombre.invalid}" #segundoNombre="ngModel" [(ngModel)]="assignment.segundoNombre" maxlength="50" (ngModelChange)="assignment.segundoNombre=globalService.upperCase($event)"
                                        [disabled]="disableFlag">
                                </div>
                                <div class="col col-sm-6 col-md-3 d-inline-block align-top">
                                    <label for="primerApellido" class="labelForm">Primer Apellido<span class="required">*</span></label>
                                    <input type="text" name="primerApellido" class="form-control inputForm" [ngClass]="{'is-invalid': primerApellido.invalid}" #primerApellido="ngModel" [(ngModel)]="assignment.primerApellido" required maxlength="50" (ngModelChange)="assignment.primerApellido=globalService.upperCase($event)"
                                        [disabled]="disableFlag">
                                </div>
                                <div class="col col-sm-6 col-md-3 d-inline-block align-top">
                                    <label for="segundoApellido" class="labelForm">Segundo Apellido</label>
                                    <input type="text" name="segundoApellido" class="form-control inputForm" [ngClass]="{'is-invalid': segundoApellido.invalid}" #segundoApellido="ngModel" [(ngModel)]="assignment.segundoApellido" maxlength="50" (ngModelChange)="assignment.segundoApellido=globalService.upperCase($event)"
                                        [disabled]="disableFlag">
                                </div>
                            </div>
                        </ng-container>
                        <ng-container>
                            <div class="form-group">
                                <div class="col col-sm-6 col-md-4 d-inline-block align-top">
                                    <label for="celular" class="labelForm">Celular</label>
                                    <input type="text" name="celular" class="form-control inputForm" [ngClass]="{'is-invalid': celular.invalid}" #celular="ngModel" [(ngModel)]="assignment.celular" maxlength="10">
                                </div>
                                <div class="col col-sm-6 col-md-4 d-inline-block align-top">
                                    <label for="servicio" class="labelForm">Servicio</label>
                                    <input type="text" name="servicio" class="form-control inputForm" [ngClass]="{'is-invalid': servicio.invalid}" #servicio="ngModel" [(ngModel)]="assignment.servicio" maxlength="50">
                                </div>
                                <div class="col col-sm-12 col-md-4 d-inline-block align-top">
                                    <label for="dosis" class="labelForm">Dósis<span class="required">*</span></label>
                                    <select style="background-position-x: 95%; text-transform: uppercase;" name="dosis" id="dosis" class="form-control inputForm" [ngClass]="{'is-invalid': dosis.invalid }" #dosis="ngModel" [(ngModel)]="assignment.dosis" required>
										<option *ngFor="let item of global.dosis" value="{{ item.id }}">{{ item.name }}</option>
									</select>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container>
                            <div class="form-group">
                                <div class="col col-sm-6 col-md-3 d-inline-block align-top">
                                    <label for="sedeVacunacion" class="labelForm">Sede de Vacunación<span class="required">*</span></label>
                                    <select style="background-position-x: 95%; text-transform: uppercase;" name="sedeVacunacion" id="sedeVacunacion" class="form-control inputForm" [ngClass]="{'is-invalid': sedeVacunacion.invalid }" #sedeVacunacion="ngModel" [(ngModel)]="assignment.sedeVacunacion"
                                        required>
										<option *ngFor="let tipo of global.unidadPresento" value="{{ tipo.name }}">{{ tipo.name }}</option>
									</select>
                                </div>
                                <div class="col col-sm-6 col-md-3 d-inline-block align-top">
                                    <label for="fechaVacunacion" class="labelForm">Fecha de Vacunación<span class="required">*</span></label>
                                    <input type="date" name="fechaVacunacion" class="form-control inputForm" [ngClass]="{'is-invalid': fechaVacunacion.invalid}" #fechaVacunacion="ngModel" [(ngModel)]="assignment.fechaVacunacion" min="{{ globalService.setMaxDate() }}" required>
                                </div>
                                <div class="col col-sm-6 col-md-3 d-inline-block align-top">
                                    <label for="horaVacunacion" class="labelForm">Hora de Vacunación<span class="required">*</span></label>
                                    <input type="time" name="horaVacunacion" class="form-control inputForm" [ngClass]="{'is-invalid': horaVacunacion.invalid}" #horaVacunacion="ngModel" [(ngModel)]="assignment.horaVacunacion" required maxlength="50">
                                </div>
                                <div class="col col-sm-6 col-md-3 d-inline-block align-top">
                                    <label for="mesa" class="labelForm">Mesa<span class="required">*</span></label>
                                    <select style="background-position-x: 95%; text-transform: uppercase;" name="mesa" id="mesa" class="form-control inputForm" [ngClass]="{'is-invalid': mesa.invalid }" #mesa="ngModel" [(ngModel)]="assignment.mesa" required>
										<option *ngFor="let tipo of global.mesas" value="{{ tipo.name }}">{{ tipo.name }}</option>
									</select>
                                </div>
                            </div>
                        </ng-container>

                        <div class="form-group" style="margin-top: 3rem">
                            <div class="col col-sm-12 buttonSubmit">
                                <input type="submit" value="{{ buttonText }}" class="btn btn-success btnPrefer col-sm-12" [disabled]="assignmentForm.invalid">
                            </div>
                        </div>
                        <div class="mt-3 col col-sm-12 errorAlert" *ngIf="responseMessage">
                            <div class="alert alert-danger" role="alert">
                                {{ responseMessage }}
                            </div>
                        </div>
                        <div class="deleteLoader" *ngIf="preloaderStatus">
                            <div class="loader"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>