<div class="loaderBall" *ngIf="!insurers && !responseMessage">
    <div class="ball-pulse-rise">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<div class="mt-3 errorAlert alert-danger" *ngIf="!insurers && responseMessage">
    <div class="alert" role="alert">
        {{ responseMessage }}
    </div>
</div>

<div class="row" *ngIf="vaccinated && insurers">
    <div class="col-sm-12">
        <div class="card border-0">
            <div class="card-body cardContainer">
                <div class="formContainer">
                    <div>
                        <div class="backLink col col-12 d-inline-block">
                            <a class="col-sm-6" href="javascript:history.back()">Regresar</a>
                        </div>
                    </div>
                    <form #vaccinatedForm="ngForm" class="form-container" (ngSubmit)="onSubmit()" style="text-align: left;">
                        <ng-container>
                            <div class="col col-sm-6 col-md-4 d-inline-block align-top">
                                <label for="fechaVacunacion" class="labelForm">Fecha de Vacunación<span class="required">*</span></label>
                                <input type="date" name="fechaVacunacion" class="form-control inputForm" [ngClass]="{'is-invalid': fechaVacunacion.invalid}" #fechaVacunacion="ngModel" [(ngModel)]="vaccinated.fechaVacunacion" required max="{{ globalService.setMaxDate() }}" disabled>
                                <small class="invalid-feedback d-block font-weight-bold" *ngIf="fechaVacunacion.invalid && fechaVacunacion.touched">Debe seleccionar una fecha</small>
                            </div>
                            <div class="col col-sm-6 col-md-4 d-inline-block align-top">
                                <label for="tipoUsuarioVacunado" class="labelForm">Tipo de Usuario Vacunado<span class="required">*</span></label>
                                <select style="background-position-x: 95%; text-transform: uppercase;" name="tipoUsuarioVacunado" id="tipoUsuarioVacunado" class="form-control inputForm" [ngClass]="{'is-invalid': tipoUsuarioVacunado.invalid }" #tipoUsuarioVacunado="ngModel" [(ngModel)]="vaccinated.tipoUsuarioVacunado"
                                    required>
									<option *ngFor="let tipo of global.tipoUsuarioVacunado" value="{{ tipo.id }}">{{ tipo.name }}</option>
								</select>
                                <small class="invalid-feedback d-block font-weight-bold" *ngIf="tipoUsuarioVacunado.invalid && tipoUsuarioVacunado.touched">Debe seleccionar un elemento de la lista desplegable</small>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="vaccinated.tipoUsuarioVacunado && vaccinated.fechaVacunacion">
                            <ng-container>
                                <div class="subtitle"><span>DATOS BÁSICOS</span></div>
                                <div class="form-group">
                                    <div class="col col-sm-6 col-md-6 col-lg-2 d-inline-block align-top">
                                        <label for="tipoDocumento" class="labelForm">Tipo Identificación<span class="required">*</span></label>
                                        <select style="background-position-x: 95%; text-transform: uppercase;" name="tipoDocumento" id="tipoDocumento" class="form-control inputForm" [ngClass]="{'is-invalid': tipoDocumento.invalid }" #tipoDocumento="ngModel" [(ngModel)]="vaccinated.tipoDocumento"
                                            required [disabled]="!agendaFlag">
											<option *ngFor="let tipo of global.TipoIDPaciente" value="{{ tipo.name }}">{{ tipo.name }}</option>
										</select>
                                    </div>
                                    <div class="col col-sm-6 col-md-6 col-lg-2 d-inline-block align-top">
                                        <form #searchForm="ngForm" class="form-container" style="text-align: left;">
                                            <label for="numeroIdentificacion" class="labelForm">Núm. Identificación<span class="required">*</span></label>
                                            <div class="input-group">
                                                <input type="text" name="numeroIdentificacion" class="form-control inputForm" [ngClass]="{'is-invalid': numeroIdentificacion.invalid}" #numeroIdentificacion="ngModel" [(ngModel)]="vaccinated.numeroIdentificacion" required maxlength="20" pattern="[0-9a-zA-Z]+">
                                                <button style="border-bottom-left-radius: 0; border-top-left-radius: 0;" class="btn btn-outline-secondary inputForm" type="text" id="button-addon2" [disabled]="searchForm.invalid" (click)="searchThird(searchForm)"><fa-icon [icon]="faSearch" class="d-block"></fa-icon></button>
                                            </div>
                                            <small class="invalid-feedback d-block font-weight-bold" *ngIf="searchResponseMessage">{{ searchResponseMessage }}</small>
                                            <fa-icon [icon]="faSpinner" class="d-block spin" *ngIf="searchPreloaderStatus"></fa-icon>
                                        </form>
                                    </div>
                                    <div class="col col-sm-6 col-md-3 col-lg-2 d-inline-block align-top">
                                        <label for="primerNombre" class="labelForm">Primer Nombre<span class="required">*</span></label>
                                        <input type="text" name="primerNombre" class="form-control inputForm" [ngClass]="{'is-invalid': primerNombre.invalid}" #primerNombre="ngModel" [(ngModel)]="vaccinated.primerNombre" (ngModelChange)="vaccinated.primerNombre=globalService.upperCase($event)"
                                            required pattern="[a-zA-ZÀ-ÿ ]+" maxlength="50" [disabled]="!agendaFlag">
                                    </div>
                                    <div class="col col-sm-6 col-md-3 col-lg-2 d-inline-block align-top">
                                        <label for="segundoNombre" class="labelForm">Segundo Nombre</label>
                                        <input type="text" name="segundoNombre" class="form-control inputForm" [ngClass]="{'is-invalid': segundoNombre.invalid}" #segundoNombre="ngModel" [(ngModel)]="vaccinated.segundoNombre" (ngModelChange)="vaccinated.segundoNombre=globalService.upperCase($event)"
                                            pattern="[a-zA-ZÀ-ÿ ]+" maxlength="50" [disabled]="!agendaFlag">
                                    </div>
                                    <div class="col col-sm-6 col-md-3 col-lg-2 d-inline-block align-top">
                                        <label for="primerApellido" class="labelForm">Primer Apellido<span class="required">*</span></label>
                                        <input type="text" name="primerApellido" class="form-control inputForm" [ngClass]="{'is-invalid': primerApellido.invalid}" #primerApellido="ngModel" [(ngModel)]="vaccinated.primerApellido" (ngModelChange)="vaccinated.primerApellido=globalService.upperCase($event)"
                                            required pattern="[a-zA-ZÀ-ÿ ]+" maxlength="50" [disabled]="!agendaFlag">
                                    </div>
                                    <div class="col col-sm-6 col-md-3 col-lg-2 d-inline-block align-top">
                                        <label for="segundoApellido" class="labelForm">Segundo Apellido</label>
                                        <input type="text" name="segundoApellido" class="form-control inputForm" [ngClass]="{'is-invalid': segundoApellido.invalid}" #segundoApellido="ngModel" [(ngModel)]="vaccinated.segundoApellido" (ngModelChange)="vaccinated.segundoApellido=globalService.upperCase($event)"
                                            pattern="[a-zA-ZÀ-ÿ ]+" maxlength="50" [disabled]="!agendaFlag">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col col-sm-6 col-md-4 d-inline-block align-top">
                                        <label for="fechaNacimiento" class="labelForm">Fecha de Nacimiento<span class="required">*</span></label>
                                        <div class="input-group">
                                            <input type="date" name="fechaNacimiento" class="form-control inputForm" [ngClass]="{'is-invalid': fechaNacimiento.invalid}" #fechaNacimiento="ngModel" [(ngModel)]="vaccinated.fechaNacimiento" required max="{{ globalService.setMaxDate() }}" (ngModelChange)="calcularAnyos()"
                                                [disabled]="!agendaFlag">
                                            <span style="border-radius: 0;" class="input-group-text inputForm">{{ vaccinated.anyos }}</span>
                                            <span style="border-bottom-left-radius: 0; border-top-left-radius: 0;" class="input-group-text inputForm">Años</span>
                                        </div>
                                        <small class="invalid-feedback d-block font-weight-bold" *ngIf="fechaNacimiento.invalid && fechaNacimiento.touched">Debe seleccionar una fecha</small>
                                    </div>
                                    <div class="col col-sm-6 col-md-2 d-inline-block align-top">
                                        <label for="sexo" class="labelForm">Sexo<span class="required">*</span></label>
                                        <select style="background-position-x: 95%" name="sexo" id="sexo" class="form-control inputForm" [ngClass]="{'is-invalid': sexo.invalid }" #sexo="ngModel" [(ngModel)]="vaccinated.sexo" required [disabled]="!agendaFlag">
											<option *ngFor="let tipo of global.sexo" value="{{ tipo.value }}">{{ tipo.value }}</option>
										</select>
                                    </div>
                                    <div class="col col-sm-6 col-md-3 d-inline-block align-top">
                                        <label for="genero" class="labelForm">Genero<span class="required">*</span></label>
                                        <select style="background-position-x: 95%" name="genero" id="genero" class="form-control inputForm" [ngClass]="{'is-invalid': genero.invalid }" #genero="ngModel" [(ngModel)]="vaccinated.genero" required [disabled]="!agendaFlag">
											<option *ngFor="let tipo of global.genero" value="{{ tipo.name }}">{{ tipo.name }}</option>
										</select>
                                    </div>
                                    <div class="col col-sm-6 col-md-3 d-inline-block align-top">
                                        <label for="orientacionSexual" class="labelForm">Orientación Sexual<span class="required">*</span></label>
                                        <select style="background-position-x: 95%" name="orientacionSexual" id="orientacionSexual" class="form-control inputForm" [ngClass]="{'is-invalid': orientacionSexual.invalid }" #orientacionSexual="ngModel" [(ngModel)]="vaccinated.orientacionSexual" required
                                            [disabled]="!agendaFlag">
											<option *ngFor="let tipo of global.orientacionSexual" value="{{ tipo.value }}">{{ tipo.value }}</option>
										</select>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container>
                                <div class="subtitle"><span>DATOS COMPLEMENTARIOS</span></div>
                                <div class="form-group">
                                    <div class="col col-sm-6 col-md-4 d-inline-block align-top">
                                        <label for="departamentoNacimiento" class="labelForm">Departamento de nacimiento<span class="required">*</span></label>
                                        <input type="text" name="departamentoNacimiento" class="form-control inputForm" [ngClass]="{'is-invalid': departamentoNacimiento.invalid}" #departamentoNacimiento="ngModel" [(ngModel)]="vaccinated.departamentoNacimiento" required maxlength="50" (ngModelChange)="vaccinated.departamentoNacimiento=globalService.upperCase($event)"
                                            [disabled]="!agendaFlag">
                                        <small class="invalid-feedback d-block font-weight-bold" *ngIf="departamentoNacimiento.invalid && departamentoNacimiento.touched">Debe ingresar el departamento de nacimiento</small>
                                    </div>
                                    <div class="col col-sm-6 col-md-3 d-inline-block align-top">
                                        <label for="municipioNacimiento" class="labelForm">Municipio de nacimiento<span class="required">*</span></label>
                                        <input type="text" name="municipioNacimiento" class="form-control inputForm" [ngClass]="{'is-invalid': municipioNacimiento.invalid}" #municipioNacimiento="ngModel" [(ngModel)]="vaccinated.municipioNacimiento" required maxlength="50" (ngModelChange)="vaccinated.municipioNacimiento=globalService.upperCase($event)"
                                            [disabled]="!agendaFlag">
                                        <small class="invalid-feedback d-block font-weight-bold" *ngIf="municipioNacimiento.invalid && municipioNacimiento.touched">Debe ingresar el municipio de nacimiento</small>
                                    </div>
                                    <div class="col col-sm-6 col-md-3 d-inline-block align-top">
                                        <label for="perfilComplementario" class="labelForm">Perfil Complementario</label>
                                        <input type="text" name="perfilComplementario" class="form-control inputForm" [ngClass]="{'is-invalid': perfilComplementario.invalid}" #perfilComplementario="ngModel" [(ngModel)]="vaccinated.perfilComplementario" maxlength="100" (ngModelChange)="vaccinated.perfilComplementario=globalService.upperCase($event)"
                                            [disabled]="!agendaFlag">
                                    </div>
                                    <div class="col col-sm-6 col-md-2 d-inline-block align-top">
                                        <label for="grupoSanguineo" class="labelForm">RH y GS<span class="required">*</span></label>
                                        <select style="background-position-x: 95%" name="grupoSanguineo" id="grupoSanguineo" class="form-control inputForm" [ngClass]="{'is-invalid': grupoSanguineo.invalid }" #grupoSanguineo="ngModel" [(ngModel)]="vaccinated.grupoSanguineo" required [disabled]="!agendaFlag">
											<option *ngFor="let tipo of global.grupoSanguineo" value="{{ tipo.name }}">{{ tipo.name }}</option>
										</select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col col-sm-6 col-md-2 d-inline-block align-top">
                                        <label for="regimen" class="labelForm">Régimen<span class="required">*</span></label>
                                        <select style="background-position-x: 95%" name="regimen" id="regimen" class="form-control inputForm" [ngClass]="{'is-invalid': regimen.invalid }" #regimen="ngModel" [(ngModel)]="vaccinated.regimen" required [disabled]="!agendaFlag">
											<option *ngFor="let tipo of global.tiposRegimen" value="{{ tipo.name }}">{{ tipo.name }}</option>
										</select>
                                    </div>
                                    <div class="col col-sm-6 col-md-4 d-inline-block align-top">
                                        <label for="aseguradora" class="labelForm">Aseguradora<span class="required">*</span></label>
                                        <select style="background-position-x: 95%" name="aseguradora" id="aseguradora" class="form-control inputForm" [ngClass]="{'is-invalid': aseguradora.invalid }" #aseguradora="ngModel" [(ngModel)]="vaccinated.aseguradora" required [disabled]="!agendaFlag">
											<option *ngFor="let insurer of insurers" value="{{ insurer.id }}">{{ insurer.name }}</option>
										</select>
                                        <small class="invalid-feedback d-block font-weight-bold" *ngIf="aseguradora.invalid && aseguradora.touched">Debe ingresar la aseguradora</small>
                                    </div>
                                    <div class="col col-sm-6 col-md-3 d-inline-block align-top">
                                        <label for="pertenenciaEtnica" class="labelForm">Pertenencia Étnica<span class="required">*</span></label>
                                        <select style="background-position-x: 95%" name="pertenenciaEtnica" id="pertenenciaEtnica" class="form-control inputForm" [ngClass]="{'is-invalid': pertenenciaEtnica.invalid }" #pertenenciaEtnica="ngModel" [(ngModel)]="vaccinated.pertenenciaEtnica" required
                                            [disabled]="!agendaFlag">
											<option *ngFor="let tipo of global.pertenenciaEtnica" value="{{ tipo.name }}">{{ tipo.name }}</option>
										</select>
                                    </div>
                                    <div class="col col-sm-6 col-md-3 d-inline-block align-top">
                                        <label for="grupoPoblacional" class="labelForm">Grupo Poblacional<span class="required">*</span></label>
                                        <select style="background-position-x: 95%" name="grupoPoblacional" id="grupoPoblacional" class="form-control inputForm" [ngClass]="{'is-invalid': grupoPoblacional.invalid }" #grupoPoblacional="ngModel" [(ngModel)]="vaccinated.grupoPoblacional" required
                                            [disabled]="!agendaFlag">
											<option *ngFor="let tipo of global.grupoPoblacional" value="{{ tipo.name }}">{{ tipo.name }}</option>
										</select>
                                    </div>
                                </div>
                                <div class="form-container">
                                    <div class="col-sm-6 col-lg-3 d-inline-block pl-3 align-top checkbox">
                                        <input type="checkbox" [(ngModel)]="vaccinated.desplazado" name="desplazado" id="desplazado" [disabled]="!agendaFlag"><label class="checkbox" for="desplazado">Desplazado</label>
                                    </div>
                                    <div class="col-sm-6 col-lg-3 d-inline-block pl-3 align-top checkbox">
                                        <input type="checkbox" [(ngModel)]="vaccinated.discapacitado" name="discapacitado" id="discapacitado" [disabled]="!agendaFlag"><label class="checkbox" for="discapacitado">Discapacitado</label>
                                    </div>
                                    <div class="col-sm-6 col-lg-3 d-inline-block pl-3 align-top checkbox">
                                        <input type="checkbox" [(ngModel)]="vaccinated.victimaConflicto" name="victimaConflicto" id="victimaConflicto" [disabled]="!agendaFlag"><label class="checkbox" for="victimaConflicto">Victima Conflicto Armado</label>
                                    </div>
                                    <div class="col-sm-6 col-lg-3 d-inline-block pl-3 align-top checkbox">
                                        <input type="checkbox" [(ngModel)]="vaccinated.estudiante" name="estudiante" id="estudiante" [disabled]="!agendaFlag"><label class="checkbox" for="estudiante">Estudia Actualmente</label>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container>
                                <div class="subtitle"><span>DATOS DE RESIDENCIA</span></div>
                                <div class="form-group">
                                    <div class="col col-sm-6 d-inline-block align-top">
                                        <label for="departamentoResidencia" class="labelForm">Departamento de residencia<span class="required">*</span></label>
                                        <input type="text" name="departamentoResidencia" class="form-control inputForm" [ngClass]="{'is-invalid': departamentoResidencia.invalid}" #departamentoResidencia="ngModel" [(ngModel)]="vaccinated.departamentoResidencia" required maxlength="50" (ngModelChange)="vaccinated.departamentoResidencia=globalService.upperCase($event)"
                                            [disabled]="!agendaFlag">
                                        <small class="invalid-feedback d-block font-weight-bold" *ngIf="departamentoResidencia.invalid && departamentoResidencia.touched">Debe ingresar el departamento de residencia</small>
                                    </div>
                                    <div class="col col-sm-6 d-inline-block align-top">
                                        <label for="municipioResidencia" class="labelForm">Municipio de residencia<span class="required">*</span></label>
                                        <input type="text" name="municipioResidencia" class="form-control inputForm" [ngClass]="{'is-invalid': municipioResidencia.invalid}" #municipioResidencia="ngModel" [(ngModel)]="vaccinated.municipioResidencia" required maxlength="50" (ngModelChange)="vaccinated.municipioResidencia=globalService.upperCase($event)"
                                            [disabled]="!agendaFlag">
                                        <small class="invalid-feedback d-block font-weight-bold" *ngIf="municipioResidencia.invalid && municipioResidencia.touched">Debe ingresar el municipio de residencia</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col col-sm-6 col-md-4 d-inline-block align-top">
                                        <label for="localidad" class="labelForm">Localidad<span class="required">*</span></label>
                                        <input type="text" name="localidad" class="form-control inputForm" [ngClass]="{'is-invalid': localidad.invalid}" #localidad="ngModel" [(ngModel)]="vaccinated.localidad" (ngModelChange)="vaccinated.localidad=globalService.upperCase($event)" required maxlength="100"
                                            [disabled]="!agendaFlag">
                                    </div>
                                    <div class="col col-sm-6 col-md-4 d-inline-block align-top">
                                        <label for="barrio" class="labelForm">Barrio<span class="required">*</span></label>
                                        <input type="text" name="barrio" class="form-control inputForm" [ngClass]="{'is-invalid': barrio.invalid}" #barrio="ngModel" [(ngModel)]="vaccinated.barrio" (ngModelChange)="vaccinated.barrio=globalService.upperCase($event)" required maxlength="100" [disabled]="!agendaFlag">
                                    </div>
                                    <div class="col col-sm-12 col-md-4 d-inline-block align-top">
                                        <label for="direccion" class="labelForm">Dirección<span class="required">*</span></label>
                                        <input type="text" name="direccion" class="form-control inputForm" [ngClass]="{'is-invalid': direccion.invalid}" #direccion="ngModel" [(ngModel)]="vaccinated.direccion" (ngModelChange)="vaccinated.direccion=globalService.upperCase($event)" required maxlength="150"
                                            [disabled]="!agendaFlag">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col col-sm-6 col-md-3 d-inline-block align-top">
                                        <label for="telefonoFijo" class="labelForm">Telefono Fijo</label>
                                        <input type="text" name="telefonoFijo" class="form-control inputForm" [ngClass]="{'is-invalid': telefonoFijo.invalid}" #telefonoFijo="ngModel" [(ngModel)]="vaccinated.telefonoFijo" pattern="[0-9]+" maxlength="7" [disabled]="!agendaFlag">
                                    </div>
                                    <div class="col col-sm-6 col-md-3 d-inline-block align-top">
                                        <label for="celular" class="labelForm">Celular<span class="required">*</span></label>
                                        <input type="text" name="celular" class="form-control inputForm" [ngClass]="{'is-invalid': celular.invalid}" #celular="ngModel" [(ngModel)]="vaccinated.celular" required pattern="[0-9]+" maxlength="10" [disabled]="!agendaFlag">
                                    </div>
                                    <div class="col col-sm-12 col-md-6 d-inline-block align-top">
                                        <label for="email" class="labelForm">Correo electrónico<span class="required">*</span></label>
                                        <input type="text" name="email" class="form-control inputForm" [ngClass]="{'is-invalid': email.invalid}" #email="ngModel" [(ngModel)]="vaccinated.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [disabled]="!agendaFlag" (ngModelChange)="vaccinated.email=globalService.lowerCase($event)">
                                        <small class="invalid-feedback d-block font-weight-bold" *ngIf="email.invalid && email.touched">Debe ingresar un correo electrónico válido</small>
                                    </div>
                                </div>
                                <div class="form-container">
                                    <div class="col-12 d-inline-block pl-3 align-top checkbox">
                                        <input type="checkbox" [(ngModel)]="vaccinated.autorizacionLlamadas" name="autorizacionLlamadas" id="autorizacionLlamadas" [disabled]="!agendaFlag"><label class="checkbox" for="autorizacionLlamadas">¿Autoriza llamadas telefónicas?</label>
                                    </div>
                                    <div class="col-12 d-inline-block pl-3 align-top checkbox">
                                        <input type="checkbox" [(ngModel)]="vaccinated.autorizacionEmail" name="autorizacionEmail" id="autorizacionEmail" [disabled]="!agendaFlag"><label class="checkbox" for="autorizacionEmail">¿Autoriza envío de correo electrónico?</label>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container>
                                <div class="subtitle"><span>ANTECEDENTES MÉDICOS</span></div>
                                <div class="form-group">
                                    <div class="col col-12 d-inline-block align-top">
                                        <label for="contraindicacion" class="labelForm">¿Sufre o ha sufrido algún evento o enfermedad que contraindique la vacunación?<span class="required">*</span></label>
                                        <select style="background-position-x: 95%" name="contraindicacion" id="contraindicacion" class="form-control inputForm" [ngClass]="{'is-invalid': contraindicacion.invalid }" #contraindicacion="ngModel" [(ngModel)]="vaccinated.contraindicacion" required
                                            [disabled]="!agendaFlag">
											<option *ngFor="let tipo of global.contraindicaciones" value="{{ tipo.name }}">{{ tipo.name }}</option>
										</select>
                                        <small class="invalid-feedback d-block font-weight-bold" *ngIf="contraindicacion.invalid && contraindicacion.touched">Debe selecionar un elemento de la lista desplegable</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col col-12 d-inline-block align-top">
                                        <label for="reaccionVacunacion" class="labelForm">¿Ha presentado reacción moderada o severa a biológicos anteriores?<span class="required">*</span></label>
                                        <select style="background-position-x: 95%" name="reaccionVacunacion" id="reaccionVacunacion" class="form-control inputForm" [ngClass]="{'is-invalid': reaccionVacunacion.invalid }" #reaccionVacunacion="ngModel" [(ngModel)]="vaccinated.reaccionVacunacion"
                                            required [disabled]="!agendaFlag">
											<option *ngFor="let tipo of global.reaccionesVacunacion" value="{{ tipo.name }}">{{ tipo.name }}</option>
										</select>
                                        <small class="invalid-feedback d-block font-weight-bold" *ngIf="reaccionVacunacion.invalid && reaccionVacunacion.touched">Debe selecionar un elemento de la lista desplegable</small>
                                    </div>
                                </div>
                                <div class="form-group" *ngIf="vaccinated.sexo=='MUJER'">
                                    <div class="col col-12 d-inline-block align-top">
                                        <label for="condicionMujer" class="labelForm">Condición de la Mujer</label>
                                        <select style="background-position-x: 95%" name="condicionMujer" id="condicionMujer" class="form-control inputForm" [ngClass]="{'is-invalid': condicionMujer.invalid }" #condicionMujer="ngModel" [(ngModel)]="vaccinated.condicionMujer" required [disabled]="!agendaFlag">
											<option *ngFor="let tipo of global.condicionesMujer" value="{{ tipo.name }}">{{ tipo.name }}</option>
										</select>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container>
                                <div class="subtitle"><span>CONDICIÓN DE SALUD, FASE Y ETÁPA DE VACUNACIÓN</span></div>
                                <div class="form-group">
                                    <div class="col col-sm-6 col-md-4 d-inline-block align-top">
                                        <label for="THSalud" class="labelForm">Talento humano en salud<span class="required">*</span></label>
                                        <select style="background-position-x: 95%" name="THSalud" id="THSalud" class="form-control inputForm" [ngClass]="{'is-invalid': THSalud.invalid }" #THSalud="ngModel" [(ngModel)]="vaccinated.THSalud" required [disabled]="!agendaFlag">
											<option value="1 LINEA">1 LINEA</option>
											<option value="2 LINEA">2 LINEA</option>
											<option value="3 LINEA">3 LINEA</option>
										</select>
                                    </div>
                                    <div class="col col-sm-6 col-md-4 d-inline-block align-top">
                                        <label for="grupoEdad" class="labelForm">Grupo de edad<span class="required">*</span></label>
                                        <select style="background-position-x: 95%" name="grupoEdad" id="grupoEdad" class="form-control inputForm" [ngClass]="{'is-invalid': grupoEdad.invalid }" #grupoEdad="ngModel" [(ngModel)]="vaccinated.grupoEdad" required [disabled]="!agendaFlag">
											<option value="80 AÑOS Y MAS">80 AÑOS Y MAS</option>
											<option value="60 A 79 AÑOS">60 A 79 AÑOS</option>
											<option value="16 A 59 AÑOS">16 A 59 AÑOS</option>
										</select>
                                    </div>
                                    <div class="col col-sm-12 col-md-4 d-inline-block align-top">
                                        <label for="condicionSalud" class="labelForm">Condición de salud<span class="required">*</span></label>
                                        <select style="background-position-x: 95%" name="condicionSalud" id="condicionSalud" class="form-control inputForm" [ngClass]="{'is-invalid': condicionSalud.invalid }" #condicionSalud="ngModel" [(ngModel)]="vaccinated.condicionSalud" required [disabled]="!agendaFlag">
											<option *ngFor="let tipo of global.condicionesSalud" value="{{ tipo.name }}">{{ tipo.name }}</option>
										</select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col col-sm-6 d-inline-block align-top">
                                        <label for="faseVacunacion" class="labelForm">Fase de Vacunación<span class="required">*</span></label>
                                        <select style="background-position-x: 95%" name="faseVacunacion" id="faseVacunacion" class="form-control inputForm" [ngClass]="{'is-invalid': faseVacunacion.invalid }" #faseVacunacion="ngModel" [(ngModel)]="vaccinated.faseVacunacion" required [disabled]="!agendaFlag">
											<option value="1">1</option>
											<option value="2">2</option>
										</select>
                                        <small class="invalid-feedback d-block font-weight-bold" *ngIf="faseVacunacion.invalid && faseVacunacion.touched">Debe selecionar un elemento de la lista desplegable</small>
                                    </div>
                                    <div class="col col-sm-6 d-inline-block align-top">
                                        <label for="etapaVacunacion" class="labelForm">Etapa de Vacunación<span class="required">*</span></label>
                                        <select style="background-position-x: 95%" name="etapaVacunacion" id="etapaVacunacion" class="form-control inputForm" [ngClass]="{'is-invalid': etapaVacunacion.invalid }" #etapaVacunacion="ngModel" [(ngModel)]="vaccinated.etapaVacunacion" required [disabled]="!agendaFlag">
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
										</select>
                                        <small class="invalid-feedback d-block font-weight-bold" *ngIf="etapaVacunacion.invalid && etapaVacunacion.touched">Debe selecionar un elemento de la lista desplegable</small>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container>
                                <div class="subtitle"><span>ESQUEMA DE VACUNACIÓN</span></div>
                                <div class="form-group">
                                    <div class="col col-sm-12 col-md-4 d-inline-block align-top">
                                        <label for="vacunaCovid" class="labelForm">Vacuna COVID-19<span class="required">*</span></label>
                                        <select style="background-position-x: 95%" name="vacunaCovid" id="vacunaCovid" class="form-control inputForm" [ngClass]="{'is-invalid': vacunaCovid.invalid }" #vacunaCovid="ngModel" [(ngModel)]="vaccinated.vacunaCovid" required [disabled]="!agendaFlag">
											<option *ngFor="let tipo of global.dosis" value="{{ tipo.id }}">{{ tipo.name }}</option>
										</select>
                                        <small class="invalid-feedback d-block font-weight-bold" *ngIf="vacunaCovid.invalid && vacunaCovid.touched">Debe selecionar un elemento de la lista desplegable</small>
                                    </div>
                                    <div class="col col-sm-12 col-md-4 d-inline-block align-top">
                                        <label for="unidadVacunacion" class="labelForm">Punto de Vacunación<span class="required">*</span></label>
                                        <select style="background-position-x: 95%" name="unidadVacunacion" id="unidadVacunacion" class="form-control inputForm" [ngClass]="{'is-invalid': unidadVacunacion.invalid }" #unidadVacunacion="ngModel" [(ngModel)]="vaccinated.unidadVacunacion" required
                                            [disabled]="!agendaFlag">
											<option *ngFor="let tipo of global.sedesVacunacion" value="{{ tipo.id }}">{{ tipo.name }}</option>
										</select>
                                        <small class="invalid-feedback d-block font-weight-bold" *ngIf="unidadVacunacion.invalid && unidadVacunacion.touched">Debe selecionar un elemento de la lista desplegable</small>
                                    </div>
                                    <div class="col col-sm-12 col-md-4 d-inline-block align-top">
                                        <label for="nombreVacunador" class="labelForm">Nombre del Vacunador(a)<span class="required">*</span></label>
                                        <input type="text" name="nombreVacunador" class="form-control inputForm" [ngClass]="{'is-invalid': nombreVacunador.invalid}" #nombreVacunador="ngModel" [(ngModel)]="vaccinated.nombreVacunador" (ngModelChange)="vaccinated.nombreVacunador=globalService.upperCase($event)"
                                            required pattern="[a-zA-ZÀ-ÿ ]+" maxlength="50" [disabled]="!agendaFlag">
                                        <small class="invalid-feedback d-block font-weight-bold" *ngIf="nombreVacunador.invalid && nombreVacunador.touched">Debe ingresar el nombre del vacunador(a). Solo se admiten letras en el campo</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col col-sm-6 col-md-3 d-inline-block align-top">
                                        <label for="loteVacuna" class="labelForm">Lote Vacuna<span class="required">*</span></label>
                                        <input type="text" name="loteVacuna" class="form-control inputForm" [ngClass]="{'is-invalid': loteVacuna.invalid}" #loteVacuna="ngModel" [(ngModel)]="vaccinated.loteVacuna" (ngModelChange)="vaccinated.loteVacuna=globalService.upperCase($event)" required
                                            maxlength="50" [disabled]="!agendaFlag">
                                    </div>
                                    <div class="col col-sm-6 col-md-3 d-inline-block align-top">
                                        <label for="laboratorio" class="labelForm">Laboratorio<span class="required">*</span></label>
                                        <select style="background-position-x: 95%" name="laboratorio" id="laboratorio" class="form-control inputForm" [ngClass]="{'is-invalid': laboratorio.invalid }" #laboratorio="ngModel" [(ngModel)]="vaccinated.laboratorio" required [disabled]="!agendaFlag">
											<option *ngFor="let tipo of global.laboratorioVacunas" value="{{ tipo.id }}">{{ tipo.name }}</option>
										</select>
                                    </div>
                                    <div class="col col-sm-6 col-md-3 d-inline-block align-top">
                                        <label for="loteDiluyente" class="labelForm">Lote Diluyente<span class="required">*</span></label>
                                        <input type="text" name="loteDiluyente" class="form-control inputForm" [ngClass]="{'is-invalid': loteDiluyente.invalid}" #loteDiluyente="ngModel" [(ngModel)]="vaccinated.loteDiluyente" (ngModelChange)="vaccinated.loteDiluyente=globalService.upperCase($event)"
                                            required maxlength="50" [disabled]="!agendaFlag">
                                    </div>
                                    <div class="col col-sm-6 col-md-3 d-inline-block align-top">
                                        <label for="loteJeringa" class="labelForm">Lote Jeringa<span class="required">*</span></label>
                                        <input type="text" name="loteJeringa" class="form-control inputForm" [ngClass]="{'is-invalid': loteJeringa.invalid}" #loteJeringa="ngModel" [(ngModel)]="vaccinated.loteJeringa" (ngModelChange)="vaccinated.loteJeringa=globalService.upperCase($event)" required
                                            maxlength="50" [disabled]="!agendaFlag">
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container>
                                <div class="subtitle"><span>OBSERVACIÓN POS VACUNACIÓN</span></div>
                                <div class="form-group">
                                    <div class="col col-sm-6 col-md-3 d-inline-block align-top">
                                        <label for="quinceMinutos" class="labelForm">15 minutos<span class="required">*</span></label>
                                        <select style="background-position-x: 95%" name="quinceMinutos" id="quinceMinutos" class="form-control inputForm" [ngClass]="{'is-invalid': quinceMinutos.invalid }" #quinceMinutos="ngModel" [(ngModel)]="vaccinated.quinceMinutos" required [disabled]="!agendaFlag">
											<option *ngFor="let tipo of global.respuestas" value="{{ tipo.value }}">{{ tipo.value }}</option>
										</select>
                                    </div>
                                    <div class="col col-sm-6 col-md-3 d-inline-block align-top">
                                        <label for="treintaMinutos" class="labelForm">30 minutos<span class="required">*</span></label>
                                        <select style="background-position-x: 95%" name="treintaMinutos" id="treintaMinutos" class="form-control inputForm" [ngClass]="{'is-invalid': treintaMinutos.invalid }" #treintaMinutos="ngModel" [(ngModel)]="vaccinated.treintaMinutos" required [disabled]="!agendaFlag">
											<option *ngFor="let tipo of global.respuestas" value="{{ tipo.value }}">{{ tipo.value }}</option>
										</select>
                                    </div>
                                    <div class="col col-sm-12 col-md-6 d-inline-block align-top">
                                        <label for="sintomasManejo" class="labelForm">Signos, sintomas, manejo<span class="required">*</span></label>
                                        <select style="background-position-x: 95%" name="sintomasManejo" id="sintomasManejo" class="form-control inputForm" [ngClass]="{'is-invalid': sintomasManejo.invalid }" #sintomasManejo="ngModel" [(ngModel)]="vaccinated.sintomasManejo" required [disabled]="!agendaFlag">
											<option *ngFor="let tipo of global.sintomasManejo" value="{{ tipo.name }}">{{ tipo.name }}</option>
										</select>
                                        <small class="invalid-feedback d-block font-weight-bold" *ngIf="sintomasManejo.invalid && sintomasManejo.touched">Debe selecionar un elemento de la lista desplegable</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col col-12 d-inline-block align-top">
                                        <label for="manejoPosVacunacion" class="labelForm">Manejo pos vacunación<span class="required">*</span></label>
                                        <select style="background-position-x: 95%" name="manejoPosVacunacion" id="manejoPosVacunacion" class="form-control inputForm" [ngClass]="{'is-invalid': manejoPosVacunacion.invalid }" #manejoPosVacunacion="ngModel" [(ngModel)]="vaccinated.manejoPosVacunacion"
                                            required [disabled]="!agendaFlag">
											<option *ngFor="let tipo of global.manejoPosVacunacion" value="{{ tipo.name }}">{{ tipo.name }}</option>
										</select>
                                        <small class="invalid-feedback d-block font-weight-bold" *ngIf="manejoPosVacunacion.invalid && manejoPosVacunacion.touched">Debe selecionar un elemento de la lista desplegable</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col col-sm-12 align-top">
                                        <label for="document" class="labelForm">Consentimiento Informado</label>
                                        <div (click)="downloadFile()" class="badge badge-info d-block personalizedBadge" *ngIf="vaccinated.archivo && showFile">{{'Descargar archivo: ' + vaccinated.archivo }}</div>
                                        <div (click)="editFile('editar')" class="badge badge-warning d-inline-block personalizedBadge" *ngIf="vaccinated.archivo && showFile">Editar</div>
                                        <app-load-document (sendFileName)="setFileName($event)" (deleteFile)="deleteFile($event)" formatsAllowed=".pdf" maxSize="200" url="vacunados/upload-file" localStorageText="vaccinatedLoadedDocument" *ngIf="!showFile"></app-load-document>
                                        <div (click)="editFile('cancelar')" class="badge badge-danger d-inline-block personalizedBadge" *ngIf="previusDocument && !showFile">Cancelar</div>
                                    </div>
                                </div>
                            </ng-container>

                            <div class="form-group" style="margin-top: 3rem">
                                <div class="col col-sm-12 buttonSubmit">
                                    <input type="submit" value="{{ buttonText }}" class="btn btn-success btnPrefer col-sm-12" [disabled]="vaccinatedForm.invalid || !agendaFlag">
                                </div>
                            </div>
                            <div class="mt-3 col col-sm-12 errorAlert" *ngIf="responseMessage">
                                <div class="alert alert-danger" role="alert">
                                    {{ responseMessage }}
                                </div>
                            </div>
                            <div class="deleteLoader" *ngIf="preloaderStatus">
                                <div class="loader"></div>
                            </div>
                        </ng-container>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>