<div class="row">
    <div class="col-sm-12">
        <div class="card border-0">
            <div class="card-body">
                <div class="salaSituacionalContainer col col-sm-12">
                    <img width="100%" src="assets/images/homeImage2.jpg" alt="SIASUR" title="SIASUR">
                    <div class="logoHomeContainer">
                        <img src="assets/images/logoSubredBlanco.png" alt="Logo Subred Integrada de Servicios de Salud Sur">
                    </div>
                    <div class="textImageContainer">
                        <span>Gerencia<br> de la Información y TICS</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>