<div class="row">
    <div class="col-sm-12">
        <div class="card border-0">
            <div class="card-body">
                <div class="salaSituacionalContainer col col-sm-12">
                    <img width="100%" src="assets/images/homeImage2.jpg" alt="SIASUR" title="SIASUR">
                    <div class="textImageContainer">
                        <img src="assets/images/logoSubredBlanco.png" alt="Logo Subred Integrada de Servicios de Salud Sur">
                        <span>Gerencia de la Información y TICS</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .textImageContainer {
        position: absolute;
        top: 0;
        right: 15px;
        padding: 15px 25px;
    }
    
    .textImageContainer img,
    .textImageContainer span {
        display: inline-block;
    }
    
    .textImageContainer img {
        max-width: 250px;
    }
    
    .textImageContainer span {
        font-size: 1.4rem;
        color: #FFF;
        vertical-align: -webkit-baseline-middle;
        margin-left: 1rem;
    }
</style>