<header id="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a routerLink="/inicio" class="navbar-brand titleContainer">
            <img src="assets/images/logoSubredBlancoFigura.png" width="40" class="d-inline-block align-top logoImage" alt="Logo de la Subred Integrada de Servicios de Salud Sur">
            <h1 class="d-inline-block" style="vertical-align: -webkit-baseline-middle;">{{ page_title }}</h1>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav" style="margin-right: auto !important;">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/inicio']">Inicio</a>
                </li>
            </ul>
            <ul class="navbar-nav" *ngIf="identity">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						{{ identity.name + ' ' + identity.surname }}
					</a>
                    <div class="dropdown-menu animated fadeIn fast" aria-labelledby="navbarDropdownMenuLink" style="left: unset !important; right: 0;">
                        <a *ngIf="adminFlag" class="dropdown-item" routerLinkActive="active" routerLink='/admin'>Panel de Administración</a>
                        <a class="dropdown-item" routerLinkActive="active" routerLink='/admin/usuarios/editar-contraseña'>Editar Contraseña</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/logout', 1]">Cerrar Sesión</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>