@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');
.login-register {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    padding: 10% 0;
    position: fixed;
    display: table;
}

.son {
    display: table-cell;
    vertical-align: middle;
}

.login-box {
    width: 400px;
    margin: 0 auto;
    border-radius: 0;
    border: 1px solid #DBDBDB !important;
}

.login-box .footer {
    width: 100%;
    left: 0px;
    right: 0px;
}

.login-box .social {
    display: block;
    margin-bottom: 30px;
}

#recoverform {
    display: none;
}

.login-sidebar {
    padding: 0px;
    margin-top: 0px;
}

.titleContainer {
    padding: 1.5rem 0.5rem !important;
    font-family: 'Kalam', cursive;
}

.formContainer {
    margin-top: 1rem;
}

.additionalText {
    margin-top: 2rem;
}

.login-text {
    font-size: 12px;
    line-height: 14px;
    margin-top: 12px;
    text-align: center;
}