<div style="display: block">
    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend" style="min-height: 300px !important"></canvas>
</div>
<small class="d-block" *ngIf="fuenteInformacion">Fuente de Información: <b>{{ fuenteInformacion }}</b></small>
<small class="d-block" *ngIf="responsable">Responsable: <b>{{ responsable }}</b></small>
<small class="d-block" *ngIf="fechaHora">Fecha y Hora de Actualización: <b>{{ fechaHora }}</b></small>