<div class="loaderBall" *ngIf="!referalRequest && !responseMessage">
    <div class="ball-pulse-rise">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<div class="mt-3 errorAlert" *ngIf="responseMessage && !referalRequest">
    <div class="alert alert-danger" role="alert">
        {{ responseMessage }}
    </div>
</div>


<div class="row" *ngIf="referalRequest">
    <div class="col-sm-12">
        <div class="card border-0">
            <div class="card-body">
                <div class="formContainer">
                    <div class="form-group">
                        <div class="col col-sm-6 col-lg-2 d-inline-block align-top">
                            <label class="labelForm">Tipo de Identificación</label>
                            <input type="text" class="form-control inputForm" value="{{ referalRequest.tipoIdentificacion }}" disabled>
                        </div>
                        <div class="col col-sm-6 col-lg-2 d-inline-block align-top">
                            <label class="labelForm">Número de Documento</label>
                            <input type="text" class="form-control inputForm" value="{{ referalRequest.numeroIdentificacion }}" disabled>
                        </div>
                        <div class="col col-sm-12 col-lg-5 d-inline-block align-top">
                            <label class="labelForm">Nombres y Apellidos</label>
                            <input type="text" class="form-control inputForm" value="{{ referalRequest.nombresApellidos }}" disabled>
                        </div>
                        <div class="col col-sm-6 col-lg-1 d-inline-block align-top">
                            <label class="labelForm">Edad</label>
                            <input type="text" class="form-control inputForm" value="{{ referalRequest.edadPaciente }}" disabled>
                        </div>
                        <div class="col col-sm-6 col-lg-2 d-inline-block align-top">
                            <label class="labelForm">Genero</label>
                            <input type="text" class="form-control inputForm" value="{{ referalRequest.genero }}" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col col-12 d-inline-block align-top">
                            <label class="labelForm">Aseguradora</label>
                            <input type="text" class="form-control inputForm" value="{{ referalRequest.aseguradora }}" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col col-sm-6 col-lg-2 d-inline-block align-top">
                            <label class="labelForm">Ingreso</label>
                            <input type="text" class="form-control inputForm" value="{{ referalRequest.ingreso }}" disabled>
                        </div>
                        <div class="col col-sm-6 col-lg-4 d-inline-block align-top">
                            <label class="labelForm">Centro de Atención</label>
                            <input type="text" class="form-control inputForm" value="{{ referalRequest.centroAtencion }}" disabled>
                        </div>
                        <div class="col col-sm-6 col-lg-2 d-inline-block align-top">
                            <label class="labelForm">Número de Cama</label>
                            <input type="text" class="form-control inputForm" value="{{ referalRequest.numeroCama }}" disabled>
                        </div>
                        <div class="col col-sm-6 col-lg-4 d-inline-block align-top">
                            <label class="labelForm">Nombre de la Cama</label>
                            <input type="text" class="form-control inputForm" value="{{ referalRequest.nombreCama }}" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col col-md-5 col-lg-2 d-inline-block align-top">
                            <label class="labelForm">Motivo de Translado</label>
                            <input type="text" class="form-control inputForm" value="{{ referalRequest.motivoTranslado | global: 'motivosTranslados' }}" disabled>
                        </div>
                        <div class="col col-md-2 col-lg-1 d-inline-block align-top">
                            <label class="labelForm">Folio</label>
                            <input type="text" class="form-control inputForm" value="{{ referalRequest.folio }}" disabled>
                        </div>
                        <div class="col col-md-5 col-lg-2 d-inline-block align-top">
                            <label class="labelForm">Fecha de Folio</label>
                            <input type="text" class="form-control inputForm" value="{{ referalRequest.fechaFolio }}" disabled>
                        </div>
                        <div class="col col-md-12 col-lg-4 d-inline-block align-top">
                            <label class="labelForm">Nombre del Médico</label>
                            <input type="text" class="form-control inputForm" value="{{ referalRequest.nombreMedico }}" disabled>
                        </div>
                        <div class="col col-md-12 col-lg-3 d-inline-block align-top">
                            <label class="labelForm">Especialidad del Médico</label>
                            <input type="text" class="form-control inputForm" value="{{ referalRequest.especialidadMedico }}" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col col-12 d-inline-block align-top">
                            <label class="labelForm">Diagnóstico</label>
                            <textarea class="form-control inputForm" rows="3" disabled>{{ referalRequest.diagnostico }}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col col-12 d-inline-block align-top">
                            <div *ngIf="referalRequest.cups.length > 0">
                                <label class="labelForm">CUPS</label>
                                <ul class="list">
                                    <li *ngFor="let cup of referalRequest.cups">{{ cup.codigoCups + ' - ' + cup.nombreExamen }}</li>
                                </ul>
                            </div>
                            <small class="invalid-feedback d-block font-weight-bold" *ngIf="referalRequest.cups.length == 0">No existen CUPS asociados a esta solicitud</small>
                        </div>
                    </div>
                    <hr>
                    <form #followForm="ngForm" class="form-container" (ngSubmit)="newFollow(followForm)">
                        <div class="form-group">
                            <div class="col col-sm-12 col-lg-6 d-inline-block align-top">
                                <label for="funcionarioContesta" class="labelForm">Funcionario que Contesta la Solicitud*</label>
                                <input type="text" name="funcionarioContesta" class="form-control inputForm" [ngClass]="{'is-invalid': funcionarioContesta.invalid && funcionarioContesta.touched}" #funcionarioContesta="ngModel" [(ngModel)]="follow.funcionarioContesta" required>
                                <small class="invalid-feedback d-block font-weight-bold" *ngIf="funcionarioContesta.invalid && funcionarioContesta.touched">Debe ingresar el nombre del funcionario que está contestando la solicitud</small>
                            </div>
                            <div class="col col-sm-12 col-lg-6 d-inline-block align-top">
                                <label for="pacienteAceptado" class="labelForm">Paciente Aceptado*</label>
                                <select style="background-position-x: 95%" name="pacienteAceptado" id="pacienteAceptado" class="form-control inputForm" [ngClass]="{'is-invalid': pacienteAceptado.invalid && pacienteAceptado.touched}" #pacienteAceptado="ngModel" [(ngModel)]="follow.pacienteAceptado"
                                    required>
										<option value="1">Si</option>
										<option value="2">No</option>
										<option value="3">Pendiente</option>
									</select>
                                <small class="invalid-feedback d-block font-weight-bold" *ngIf="pacienteAceptado.invalid && pacienteAceptado.touched">Debe selecionar un elemento de la lista desplegable</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col col-12 d-inline-block align-top">
                                <label for="observaciones" class="labelForm">Observaciones</label>
                                <textarea rows="3" name="observaciones" class="form-control inputForm" #observaciones="ngModel" [(ngModel)]="follow.observaciones" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col col-sm-12 col-lg-3 d-inline-block pl-3 align-top checkbox">
                                <input type="checkbox" [(ngModel)]="follow.negacionMedica" name="negacionMedica" id="negacionMedica"><label class="checkbox" for="negacionMedica">Negación Médica</label>
                            </div>
                            <div class="col col col-sm-12 col-lg-9 d-inline-block align-top" *ngIf="follow.negacionMedica">
                                <textarea rows="1" name="justNegacionMedica" class="form-control inputForm" #justNegacionMedica="ngModel" [(ngModel)]="follow.justNegacionMedica" required placeholder="Ingrese la justificación de la negación médica"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col col-sm-12 col-lg-3 d-inline-block pl-3 align-top checkbox">
                                <input type="checkbox" [(ngModel)]="follow.negacionAdministrativa" name="negacionAdministrativa" id="negacionAdministrativa"><label class="checkbox" for="negacionAdministrativa">Negación Administrativa</label>
                            </div>
                            <div class="col col col-sm-12 col-lg-9 d-inline-block align-top" *ngIf="follow.negacionAdministrativa">
                                <textarea rows="1" name="justNegacionAdministrativa" class="form-control inputForm" #justNegacionAdministrativa="ngModel" [(ngModel)]="follow.justNegacionAdministrativa" required placeholder="Ingrese la justificación de la negación administrativa"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>