<section class="header" id="navbar">
    <div class="container">
        <input type="checkbox" id="check">
        <div class="navbtn">
            <div class="navbtn__nav-links">
                <ul>
                    <li class="navbtn__nav-link">
                        <a href="#">Sala Situacional</a>
                    </li>
                    <li class="navbtn__nav-link">
                        <a href="#" class="dropdown__arrow">Contratación</a>
                        <div class="dropdown">
                            <ul>
                                <li class="dropdown__link">
                                    <a href="#">Link1</a>
                                </li>
                                <li class="dropdown__link">
                                    <a href="#">Link2</a>
                                </li>
                                <li class="dropdown__link">
                                    <a href="#" class="dropdown__arrow">Link3</a>
                                    <div class="dropdown second">
                                        <ul>

                                            <li class="dropdown__link">
                                                <a href="#">Link1</a>
                                            </li>
                                            <li class="dropdown__link">
                                                <a href="#">Link2</a>
                                            </li>
                                            <li class="dropdown__link">
                                                <a href="#">Link3</a>
                                            </li>
                                            <li class="dropdown__link">
                                                <a href="#" class="dropdown__arrow">More</a>
                                                <div class="dropdown second">
                                                    <ul>
                                                        <li class="dropdown__link">
                                                            <a href="#">Link1</a>
                                                        </li>
                                                        <li class="dropdown__link">
                                                            <a href="#">Link2</a>
                                                        </li>
                                                        <li class="dropdown__link">
                                                            <a href="#">Link4</a>
                                                        </li>
                                                        <div class="arrow"></div>
                                                    </ul>
                                                </div>
                                            </li>
                                            <div class="arrow"></div>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dropdown__link">
                                    <a href="#">Link4</a>
                                </li>
                                <div class="arrow"></div>
                            </ul>
                        </div>
                    </li>
                    <li class="navbtn__nav-link">
                        <a href="#">Gestión del Riesgo</a>
                    </li>
                    <li class="navbtn__nav-link">
                        <a href="#">EPP</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="hamburguer">
            <div class="hamburguer__menu">
                <div></div>
            </div>
        </div>
    </div>
</section>
<main class="main">
    <section class="main__section"></section>
</main>