<div class="loaderBall" *ngIf="!readyFlag && preloaderStatus">
    <div class="ball-pulse-rise">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<div class="mt-3 errorAlert alert-danger" *ngIf="initialResponseMessage">
    <div class="alert" role="alert">
        {{ initialResponseMessage }}<a class="col-sm-12" routerLink="../../cuenta-cobro" style="padding-left: 4px">regresar</a>
    </div>
</div>

<div class="row" *ngIf="readyFlag">
    <div class="col-sm-12">
        <div class="card border-0">
            <div class="card-body">
                <div class="backLink col col-sm-12">
                    <a class="col-sm-12" routerLink="../../cuenta-cobro">Regresar</a>
                </div>

                <div class="mt-3 errorAlert alert-danger" *ngIf="responseMessage">
                    <div class="alert" role="alert">
                        {{ responseMessage }}
                    </div>
                </div>
                <div class="deleteLoader mb-3" *ngIf="preloaderStatus">
                    <div class="loader"></div>
                </div>

                <div class="tableContainer mt-2" *ngIf="!preloaderStatus && chargeAccounts">
                    <div class="tableContainerAll col col-sm-12">
                        <div class="paginationControls" *ngIf="chargeAccounts && chargeAccounts.length > itemsPerPage">
                            <pagination-controls (pageChange)="pageChange($event)" previousLabel="Anterior" nextLabel="Siguiente" maxSize="4">
                            </pagination-controls>
                        </div>
                        <table class="table table-bordered">
                            <thead class="thead_styles">
                                <tr>
                                    <th>Consecutivo</th>
                                    <th>Id Contrato</th>
                                    <th>Fecha de Inicio</th>
                                    <th>Fecha Finalización</th>
                                    <th>Mes Certificado</th>
                                    <th>Supervisor</th>
                                    <th>Valor Certificado</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody class="tbody_styles">
                                <tr *ngFor="let account of chargeAccounts | paginate: {itemsPerPage: itemsPerPage, currentPage: actualPage}; index as i" class="tableStyles">
                                    <td><a [routerLink]="['../ver-cuenta/', account.id]">{{ account.id }}</a></td>
                                    <td><a [routerLink]="['../ver-cuenta/', account.id]">{{ account.contract_id | isnullfill }}</a></td>
                                    <td><a [routerLink]="['../ver-cuenta/', account.id]">{{ account.fechaInicioCertificada | isnullfill }}</a></td>
                                    <td><a [routerLink]="['../ver-cuenta/', account.id]">{{ account.fechaFinalizacionCertificada | isnullfill }}</a></td>
                                    <td><a [routerLink]="['../ver-cuenta/', account.id]">{{ account.mesCuentaCobro | global: 'meses' }}</a></td>
                                    <td><a [routerLink]="['../ver-cuenta/', account.id]">
										{{ account.supervisor_id.primerNombre }}
										<ng-container *ngIf="account.supervisor_id.segundoNombre">{{ ' ' + account.supervisor_id.segundoNombre }}</ng-container>
										{{ account.supervisor_id.primerApellido }}
										<ng-container *ngIf="account.supervisor_id.segundoApellido">{{ ' ' + account.supervisor_id.segundoApellido }}</ng-container>
									 </a></td>
                                    <td><a [routerLink]="['../ver-cuenta/', account.id]">{{ account.valorPagar | isnullfill }}</a></td>
                                    <td [ngClass]="{ 'bad': account.estado==1 || account.estado==2 , 'regular': account.estado==3, 'good': account.estado==4 || account.estado==5 || account.estado==6 }"><a [routerLink]="['../ver-cuenta/', account.id]">{{ account.estado | global: 'estadosCuentaCobro' }}</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="paginationControls " *ngIf="chargeAccounts && chargeAccounts.length> itemsPerPage">
                            <pagination-controls (pageChange)="pageChange($event)" previousLabel="Anterior" nextLabel="Siguiente" maxSize="4">
                            </pagination-controls>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>